/.metadata/
/.recommenders/
/Servers/
/projects/
/mysql-5.7.19-winx64/
/New folder/
/apache-tomcat-8.5.5-windows-x64.zip
/creative_resume.zip
/easy_contact_form.zip
/ekapp-archive(obsolete).zip
/apache-tomcat-8.5.5
/WebContent.zip
/target/
/build/